<!doctype html>
<title>Registration</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form method = "post">
  <div>
      <label for="first_name">Имя</label>
      <input type="text" name="first_name" id="first_name">
  </div>
  <div><label for="last_name">Фамилия</label>
    <input type="text" name="last_name" id="last_name" >
  </div>
  <div>
      <label for="birth_date">Дата рождения</label>
      <input type="date" name="birth_date" id="birth_date">
  </div>
  <div>
      <label for="phone">Телефон</label>
      <input type="tel" name="phone" id="phone">
  </div>
  <div>
      <label for="email">Почта</label>
      <input type="email" name="email" id="email">
  </div>
  <div>
      <label for="password">Пароль</label>
      <input type="password" name="password" id="password">
  </div>
  <div>
    <button type="submit">Зарегистрироваться</button>
  </div>
    
</form>
</body>
